# Assignment 2 - Pandas

Sunina, Sharvy, Student ID # 21031313

## The Story

#### The GOAL

The Goal of this assignment is to explore the World Bank Data website and analyse the two categories Climate Change & Enviornment. The entire analysis is trying to figure out the correlation between these two categories from the 8 different Indicators.

#### Types of analysing Data

The Goal of this work is to explore the World Bank Data website and analyse two categories Climate Change & Enviornment. The entire analysis is trying to figure out the correlation between these two Cagtegories from the 8 different Indicators. From the Climate Change, I have selected CO2, Land, Population and Energy Use and from the Enviornment the selected indicators are Air Pollution, Electricity Access, Arable Land & Renewable Energy Use.

#### The Summary Statistics

I have derived 9 different summary statistics, that shows the effect of different parameters towards the Climate Change & Enviornmental Parameters. Those are explained below,

###### Summary Statistics -1  Does Renewable Energy Use has a Big Impact over the Airpolution  (Using Pivot Table Method)

By using the Pivot Table, the Enviornmental data extracted from the world bank , we can see an interesting correlation between the renewable energy use and the air pollution. The world has started to use the renewable energy like solar systems and wind power considerably by the starting of the year 2012, this has reduced the Air pollution by a fare margin.

###### Summary Statistics -2 Relation between Population & CO2 Emission

The Carbondioxide (CO2) emission is increased by a large amount during the years 2011 & 2012 when compared with 2010. One of the main reason for this is becuase of the increase in the population and the use of petrol or diesel vehicles

###### Summary Statistics -3 Impact of Population on Climate Change ( using Both Data Frames with Gorupby method)

Taking the whole mean of the two data frames together & sorting by population will give you an insight about the population impact on the climate change and enviornmental indicators. China has the largest population but India with lesser population than China will have the highest Air Pollution. This is because, Land Areas of India has considerably reduced. This makes the Air quality being degraded from other countries.

###### Summary Statistics -4 Electricity Access Impact on Air Pollution ( using Both Data Frames with Gorupby() & aggregate () method)

Afganistan and Finaland are there in the World Happiness Index Survey. Finaland is in the top of the list with higher happy index & Afganistan with least happiness index. When we analyse the data of both AFG & FIN together using Groupby() & Aggregate () funtion for the maximum value. There is a huge difference in the usage of Renewable energy. Finaland has a high rate of use for the renewable energy, but Afganistan lack in those area. Also the Access to Electricity in AFG is higher, this in turn cause the peoples to use non-renewable energy higher & this will increase the Air Pollution rate much higher than Finland.

###### Summary Statistics -5 Region wise Climate Change (Using groupby() using an external key,dictionary Country_Groups)

Further more analysing the data using the Groupby with Regional wise external key dictionary ("country_groups") created before, we can notice that, the countries from Asian regions are having more Air Pollution than the European countries.

###### Summary Statistics -6 Region wise Carbon Emission (Using groupby() using an external key,dictionary Country_Groups)

Eventhough Asia has the largest population with largest Air pollution, they have lesser Carbon emissions. This is because, they are now moving in to the renewable energy and increase in the Arable Land areas. But Middle East is leading the Carbon emissions because of the less use of Renewable Energy as the non-renewable energy sources like petroleum easily available. Because of this fuel availability leading towards the high usage of the Fuel cause Carbon Emissions. One more point to be noted, the Arable Land areas in Middle East are far below than Asia or Europe

###### Summary Statistics -7 Regions with Highest Energy Consumption (using groupby() with .filter() function)

By using the Filter() function with Groupby method, we can find the highest 3 Energy using Regions from the World Bank Data frame. Middle East is leading the list becuase of the uninterruptable use of Oil & Gas.

###### Summary Statistics -8 Population Analysis vs Electricity Access (using gorupby() method with transform())

From the below analysis, we are transforming the population data in millions for the easy interpretation. Asia & Africa poses lesser access to Electricity than other countries while holding the higher population rates.

###### Summary Statistics -9 Renewable Energy Use vs Total Energy Use (Using Groupby()method with apply() function )

Using the Apply function, we can figure out the percentage of the use of Renewable energy from the total energy consumption from the country regions. From the analysis, there in one interesting point to be noted. The Asia & Africa regions are using  more renewable energy from the total energy consumption with Asia having 9.26% & Africa having 4.15%.

## Data Preparation

In [2]:
import pandas as pd
import wbgapi as wb

In [3]:
#Assigning Global Variables for the easy use of WB Indicators
CO2 = "EN.ATM.CO2E.PC"
Land = "AG.LND.FRST.K2"
Population = "SP.POP.TOTL"
Energy_use = "EG.USE.PCAP.KG.OE"

Air_pollution = "EN.ATM.PM25.MC.M3"
Electricity_access = "EG.ELC.ACCS.ZS"
Arable_Land = "AG.LND.ARBL.ZS"
Renewable_Energy_use = "EG.FEC.RNEW.ZS"

start_year = 2008
end_year = 2018

In [4]:
#Creating three variables:  A list of the country codes, a dictionary with keys being country codes 
#and the dictionary with country groups

country_codes = ["GBR", "IND", "ZAF", "AFG", "RUS", "CHN", "FIN", "USA", "AUS", "ARE"]

country_names = {'GBR':'United Kingdom', 'IND':'India', 'ZAF':'South Africa', 'AFG':'Afghanisthan', 
                 'RUS':'Russian Federation', 'CHN':'China', 'FIN':'Finland', 'USA':'United States',
                 'AUS':'Australia', 'ARE':'United Arab Emirates'}

country_groups = {'GBR':'Europe', 'IND':'Asia', 'ZAF':'Africa', 'AFG':'Asia', 'RUS':'Commonwealth',
                'CHN':'Asia', 'FIN':'Europe', 'USA':'North America', 'AUS':'North America', 'ARE':'Middle East'}

### Indicators

In [7]:
indicators_cc = [CO2, Land, Population, Energy_use]  #Climate change indicators list

In [8]:
indicators_env = [Air_pollution, Electricity_access, Arable_Land, Renewable_Energy_use] #Enviornmental Indicators list

### DataFrames

In [ ]:
#Downloading Climate change Data from WB web

#df_cc = wb.data.DataFrame(indicators_cc, country_codes, time=range(start_year, end_year))
df_cc = wb.data.DataFrame(indicators_cc, mrv = 10, columns='series').loc[country_codes,:]
df_cc

In [ ]:
df_cc_f = df_cc.stack().unstack(level=1) #stack & unstack operation with level 1 transpose the World Bank Indicators 
                                         #to the Columns & Years to the Level Index

In [17]:
#Downloading Enviornmental Data from WB web
df_env = wb.data.DataFrame(indicators_env, country_codes, time=range(start_year, end_year))

In [18]:
df_env_f = df_env.stack().unstack(level=1)   #stack & unstack operation with level 1 transpose the World Bank Indicators 
                                             #to the Columns & Years to the Level Index

In [19]:
df_cc_env = pd.concat([df_cc_f, df_env_f], axis=1) #Adding multi index data frames with Axis=1

NameError: name 'df_cc_f' is not defined

In [ ]:
df_cc_env.index.names = ["Country", "Years"]  #Renaming the Indexes

In [ ]:
#Renaming the Columns with understandable names

df_cc_env.columns = ['Land', 'Energy_use', 'CO2', 'Population', 'Arable_Land',
                     'Electricity_access', 'Renewable_Energy_use', 'Air_pollution']

In [ ]:
#Defining the Parameters for the the Multi-Index Frame

years = [2010, 2011, 2012]

country_nm = ['Afghanisthan', 'United Arab Emirates', 'Australia', 'China' ,'Finland',
              'United Kingdom', 'India', 'Russian Federation', 'United States','South Africa']

In [ ]:
#Defining and grouping Categories/Indicators with Climate Change and Enviornmental Labels. Thus creating column index values

col = pd.MultiIndex.from_tuples([('Climate_Change', 'Land'), ('Climate_Change', 'Energy_use'),  
                                 ('Climate_Change', 'CO2'), ('Climate_Change', 'Population'),
                                 ('Enviornment', 'Arable_Land'), ('Enviornment', 'Electricity_access'),
                                 ('Enviornment', 'Renewable_Energy_use'),('Enviornment', 'Air_pollution')],
                                  names=['Category', 'Indicators'])

In [ ]:
#Creating MultiIndex for the indexing

ind = pd.MultiIndex.from_product([country_nm, years], names=["Country", "Year"])

In [ ]:
#Assigning Columns and Index Parameters defined in the above session to get the formated multi-index dataframe

df_cc_env.columns = col

#### Multi Indexed Data Frame from World Bank Data

In [ ]:

df_cc_env  #Displaying Climate Change & Enviornmental Data with Multiple indicators on the same table with proper labelling

#### Data Handling-Null Values

In [32]:
df_cc_env.isnull().any() #finding any null values in the indicators

Category        Indicators
Climate_Change  Land                    False
                Energy_use               True
                CO2                     False
                Population              False
Enviornment     Arable_Land             False
                Electricity_access      False
                Renewable_Energy_use    False
                Air_pollution            True
dtype: bool

In [33]:
df_cc_env['Climate_Change', 'Energy_use'].fillna(df_cc_env['Climate_Change', 'Energy_use'].mean(),inplace=True)

In [35]:
df_cc_env['Enviornment', 'Air_pollution'].fillna(df_cc_env['Enviornment', 'Air_pollution'].mean(),inplace=True)

In [36]:
df_cc_env

Category       Climate_Change                                    Enviornment  \
Indicators               Land   Energy_use       CO2  Population Arable_Land
Country Years
AFG     YR2008        12084.4  4499.003600  0.158356  27722281.0   11.938241
        YR2009        12084.4  4499.003600  0.211306  28394806.0   11.936709
        YR2010        12084.4  4499.003600  0.297065  29185511.0   11.936709
        YR2011        12084.4  4499.003600  0.407074  30117411.0   11.933646
        YR2012        12084.4  4499.003600  0.335351  31161378.0   11.932114
...                       ...          ...       ...         ...         ...
ZAF     YR2013       173048.9  2602.845598  8.137333  53687125.0    9.892094
        YR2014       172684.9  2695.505776  8.213158  54544184.0    9.892094
        YR2015       172320.9  4499.003600  7.671202  55386369.0    9.892094
        YR2016       171956.9  4499.003600  7.564451  56207649.0    9.892094
        YR2017       171592.9  4499.003600  7.632729  57009751.0    9.892094

Category
Indicators     Electricity_access Renewable_Energy_use Air_pollution
Country Years
AFG     YR2008          42.400000            21.343700     33.466452
        YR2009          45.520683            17.850401     33.466452
        YR2010          42.700000            14.899000     65.245592
        YR2011          43.222019            11.559100     66.835727
        YR2012          69.100000            14.404900     66.023174
...                           ...                  ...           ...
ZAF     YR2013          85.200000             9.782000     26.729262
        YR2014          86.000000             9.908100     26.722212
        YR2015          85.300000            10.291700     26.112972
        YR2016          84.200000            10.705300     25.140416
        YR2017          84.400000            10.225400     25.102205

[100 rows x 8 columns]

## Data Analysis

##### STAT-1 Does Renewable Energy Use has a Big Impact over the Airpolution  (Using Pivot Table Method)

By using the Pivot Table over the Enviornment data extracted from the world bank , we can see an interesting correlation between the renewable energy use & the airpolution. The world has started to use the renewable energy like solar systems & wind power considerably by the starting of the year 2012, this has reduced the Air Polution by a fare margin.

In [37]:
#Using Pivot Table to get the Enviornment Parameters over the years comprised from all the countries
stat1= df_cc_env.pivot_table(['Enviornment'], index='Country', columns="Years").mean()
stat1

Category     Indicators            Years
Enviornment  Air_pollution         YR2008    33.466452
                                   YR2009    33.466452
                                   YR2010    35.554926
                                   YR2011    36.083955
                                   YR2012    34.013407
                                   YR2013    33.943863
                                   YR2014    32.467078
                                   YR2015    32.928921
                                   YR2016    31.247235
                                   YR2017    31.492234
             Arable_Land           YR2008    14.962298
                                   YR2009    14.991945
                                   YR2010    14.874543
                                   YR2011    14.919641
                                   YR2012    14.929702
                                   YR2013    14.938292
                                   YR2014    14.949489
                                   YR2015    14.852890
                                   YR2016    14.846525
                                   YR2017    14.878867
             Electricity_access    YR2008    89.489579
                                   YR2009    90.230810
                                   YR2010    90.160000
                                   YR2011    89.427924
                                   YR2012    93.426487
                                   YR2013    93.491799
                                   YR2014    95.908521
                                   YR2015    94.030000
                                   YR2016    97.143488
                                   YR2017    97.455683
             Renewable_Energy_use  YR2008    14.503660
                                   YR2009    13.857620
                                   YR2010    13.636580
                                   YR2011    13.456820
                                   YR2012    13.984440
                                   YR2013    14.313790
                                   YR2014    14.937430
                                   YR2015    15.070010
                                   YR2016    15.503160
                                   YR2017    15.760700
dtype: float64

##### STAT-2 Relation between Population & CO2 Emission

The Carbon Dioxide (CO2) emission is increased by a large amount during the years 2011 & 2012 when compared with 2010. One of the main reason for this is becuase of the increase in the population & the use of petrol or diesel vehicles

In [38]:
#Using Pivot Table to get the Climate Change Parameters over the years comprised from all the countries
stat2= df_cc_env.pivot_table(['Climate_Change'], index='Country', columns="Years").mean()
stat2

Category        Indicators  Years
Climate_Change  CO2         YR2008    1.042429e+01
                            YR2009    9.826594e+00
                            YR2010    1.007549e+01
                            YR2011    9.791717e+00
                            YR2012    9.702191e+00
                            YR2013    9.735206e+00
                            YR2014    9.508963e+00
                            YR2015    9.371067e+00
                            YR2016    9.350379e+00
                            YR2017    9.335659e+00
                Energy_use  YR2008    4.629780e+03
                            YR2009    4.411103e+03
                            YR2010    4.483167e+03
                            YR2011    4.440414e+03
                            YR2012    4.429859e+03
                            YR2013    4.407327e+03
                            YR2014    4.393274e+03
                            YR2015    4.797105e+03
                            YR2016    4.499004e+03
                            YR2017    4.499004e+03
                Land        YR2008    1.560980e+06
                            YR2009    1.564365e+06
                            YR2010    1.567749e+06
                            YR2011    1.570912e+06
                            YR2012    1.574075e+06
                            YR2013    1.577238e+06
                            YR2014    1.580401e+06
                            YR2015    1.583564e+06
                            YR2016    1.587097e+06
                            YR2017    1.589082e+06
                Population  YR2008    3.145122e+08
                            YR2009    3.174639e+08
                            YR2010    3.203277e+08
                            YR2011    3.231922e+08
                            YR2012    3.262033e+08
                            YR2013    3.291499e+08
                            YR2014    3.320335e+08
                            YR2015    3.348323e+08
                            YR2016    3.375971e+08
                            YR2017    3.403473e+08
dtype: float64

##### STAT-3  Impact of Population on Climate Change ( using Both Data Frames with Gorupby method)

Taking the whole mean of the two data frames together & sorting by population will give you an insigt about the population impact on the climate change & enviornmental parameters. China has the largest population but India with lesser population than China will have the highest Air Polution parameters. This is because, Land Areas of India has considerably reduced. This is making the Air quality being degraded from other countries.

In [39]:
data_mean = df_cc_env.groupby(level='Country').mean()  #Outer Level group by

In [40]:
#Inner Level Sort by using the Population Indicator
data_mean_sort =data_mean.groupby(axis=1, level='Indicators').mean().sort_values('Population',ascending=False) 
data_mean_sort

Indicators,Air_pollution,Arable_Land,CO2,Electricity_access,Energy_use,Land,Population,Renewable_Energy_use
Country,,,,,,,,
CHN,56.000278,12.772381,6.736993,99.765123,2756.635478,2053651.038,1.359181e+09,12.39879
IND,79.973580,52.758350,1.493297,80.476606,1752.436636,701847.700,1.271853e+09,38.09563
USA,13.487067,17.183076,16.252073,100.000000,6527.656045,3092219.800,3.149033e+08,8.54411
RUS,20.768560,7.428098,11.080018,99.550000,4790.840285,8149141.880,1.434802e+08,3.34272
GBR,15.804620,25.179511,6.878138,100.000000,3328.073055,31051.500,6.393259e+07,5.94036
ZAF,27.701352,10.059105,8.003584,84.140000,3271.907164,173230.900,5.331449e+07,10.72309
AFG,55.986498,11.903011,0.255127,66.832564,4499.003600,12084.400,3.183145e+07,18.80293
AUS,14.510165,3.838983,16.786098,100.000000,5422.574968,1315749.000,2.292587e+07,8.56689
ARE,38.574971,0.632075,20.291510,100.000000,6657.712942,3170.639,8.816840e+06,0.12021
FIN,11.857432,7.389602,9.344719,100.000000,5983.195829,223316.092,5.420140e+06,38.48948

In [42]:
#Slicing the required Data for the Reporting(using .loc )
stat3= data_mean_sort.loc[['CHN','IND'], ['Air_pollution','Land','Population']]
stat3

Indicators  Air_pollution         Land    Population
Country
CHN             56.000278  2053651.038  1.359181e+09
IND             79.973580   701847.700  1.271853e+09

##### STAT-4  Electricity Access Impact on Air Pollution ( using Both Data Frames with Gorupby() & aggregate () method)

Afganistan & Finaland are there in the World Happiness Index Survey. Finald tops the list with higher happy index & Afganistan with least happiness index. When we analyse the data of both AFG & FIN together using Groupby() & Aggregate () funtion for the maximum value.There is a huge difference in the usage of Renewable energy. Finaland has a high rate of use in teh renewable energy, but Afganistan lack in those area. Also the Access to Electricity in AFG is higher, this in turn cause the peoples to use non-renewable energy higher & this will increase the Air Polution rate much higher than Finland.

In [43]:
#Groupby with Aggregate function used for finding the Maximum values of the required indicators to compare

df_stat4 = df_cc_env.groupby('Country').agg([ "max"])

In [ ]:
#Index slicing used to display the required country indicators for the reporting
idx = pd.IndexSlice
stat4 = df_stat4.loc[idx['AFG','FIN'], idx[:, ('Air_pollution','Electricity_access','Renewable_Energy_use')]]
stat4

##### STAT-5  Region wise Climate Change (Using groupby() using an external key,dictionary Country_Groups)

Further more analysing the data using the Groupby with Regional wise external key dictionary ("country_groups") created before, we can notice that, the countries from Asian regions are having more Air Polution than the European countries.

In [ ]:
# Groupby with External Key "country_groups" 
df_stat5= df_cc_env.groupby(country_groups, axis=0, level=0).agg([ "mean"])

In [ ]:
df_stat5.index.names=["Region"] #Renaming the  Country_Group level name to 'Region' instead of 'Country'

In [ ]:
data_2 = df_stat5.groupby(level='Region').mean()  #Grouping the data frmae with Region

In [ ]:
#Sorting the data frame with Population indicators in Decending order
data_2_sort =data_2.groupby(axis=1, level='Indicators').mean().sort_values('Population',ascending=False) #Inner Level Sort
data_2_sort

In [ ]:
stat5= data_2_sort.loc[['Asia','Europe'], ['Population','Air_polution']] #Slicing final data frame to display the result using .loc
stat5

##### STAT-6  Region wise Carbon Emission (Using groupby() using an external key,dictionary Country_Groups)

Eventhough Asia has the largest population with largest Air polution, they have lesser Carbon emissions. This is because, they are now moving in to the renewable energy & increase the Arable Land areas. But Middle East is leading the Carbon emissions because of the less use of Renewable Energy as the non-renewable energy sources like petrolieum easily available. Because of this fuel availability leading towards the high usage of the Fuel cause Carbon Emissions. One more point to be noted, the Arable Land area's in Middle East where far below than Asia or Europe

In [ ]:
#setting up the data frame using Group by & Indicators from the Regional data
df_stat6= data_2.groupby(axis=1, level='Indicators').mean().sort_values('CO2',ascending=True)
df_stat6

In [ ]:
#Slicing final data frame to display the result using .loc
stat6= data_2_sort.loc[['Asia','Europe','North America','Middle East'], ['CO2','Renewable_Energy_use','Energy_use','Arable_Land']]
stat6

##### STAT-7  Regions with Highest Energy Consumption (using groupby() with .filter() funtion)

By using the Filter() funtion with Groupby method, we can find the highest 3 Energy using Regions from the World Bank Data frame. Middle East is leading the list becuase of the uninterruptable use of Oil & Gas.

In [ ]:
#Defining Filter Funtion to remove filter out the lowest Energy Consumption Regions lesser than 5000
def filter_func(x):
    return x['Energy_use'].mean() > 5000

In [ ]:
#Setting up data frame for the analysis using group by with indicators columns
df_stat7= data_2.groupby(axis=1, level='Indicators').mean().sort_values('Energy_use',ascending=True)

In [ ]:
#Setting up data frame using Regional indicators
df_stat7= df_stat7.groupby('Region').mean().sort_values('Energy_use',ascending=False)
df_stat7

In [ ]:
#Applying .filter funtion to remove the lesser energy consuptions regions
df_stat7_1= df_stat7.groupby('Region').filter(filter_func)

In [ ]:
df_stat7_1

In [ ]:
stat7= df_stat7_1['Energy_use']  #Displaying the result of Top 3 Energy Usage Regions
stat7

##### STAT-8  Population Analysis vs Electricity Access (using gorupby() method with transform())

From the below analysis, we are transforming the population data in millions for the easy interpretation. Asia & Africa poses lesser access to Electricity than other countries while holding the higher population rates.

In [ ]:
#Setting up the data frame for the Analysis usign Group By
df_stat8= data_2.groupby(axis=1, level='Indicators').mean()
df_stat8

In [ ]:
#Transforming the Population Columns to Millions using .transform funtion
stat8 = df_stat8.groupby('Region')['Population'].transform(lambda x: x/1000000) #Tranform the Population data to Millions
stat8

In [ ]:
#displaying the result
stat8_1= df_stat8.loc[['Asia','Africa'], ['Population','Electricity_access']]
stat8_1

##### STAT-9  Renewable Energy Use vs Total Energy Use (Using Groupby()method with apply() funtion )

Using the Apply funtion, we can figure out the percentage of the use of Renewable energy from the total energy consumption from the country regions. From the analysis, there in one interesting point to be noted. The Asia & Africa regions are using  more renewable enrgy from the total energy consumption with Asia having 9.26% & Africa having 4.15%.

In [ ]:
#Setting up Data frame for the analysis with mean & Regional Indicators
df_stat9= df_cc_env.groupby(country_groups, axis=0, level=0).agg([ "mean"])
df_stat9.index.names=["Region"]

In [ ]:
#Setting up the axis for the easy analaysis with Indicators column
df_stat9_1= df_stat9.groupby(axis=1, level='Indicators').mean()

In [ ]:
def norm_by_energy_use (x):            #Percentage of Renewable Energy Use
    # x is a DataFrame of group values
    x['Renewable_Energy_use']/= x['Energy_use']*0.001   #Finding the total percentage
    return x

df_stat9_pcnt = df_stat9_1.groupby('Region').apply(norm_by_energy_use) #Applying the normalization funtion for the percentage 
                                                                       #to the data frame

In [ ]:
stat9= df_stat9_pcnt['Renewable_Energy_use'] #Displaying the results in percentage
stat9